{% extends "base.html" %}

{% block content %}

<div class="hotels-page">


    <!-- верхняя панель -->
    <div class="top-bar">
        <a href="/pages/index" class="back-link">← На главную</a>

        <h2>
            Отели в {{ city or "выбранном городе" }}
        </h2>
    </div>
    <form method="get" class="filters">

        <!-- Форма поиска -->
        <input
            type="text"
            name="search"
            placeholder="Поиск..."
            value="{{ search or '' }}"
        >

        <select name="city">
            <option value="">Любая локация</option>
            {% for country, cities in countries.items() %}
                <optgroup label="{{ country }}">
                    {% for city in cities %}
                        <option value="{{ city }}" {% if city == selected_city %}selected{% endif %}>
                            {{ city }}
                        </option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>

<!--        <select name="sort">-->
<!--            <option value="">Сортировка</option>-->
<!--            <option value="price_asc" {% if sort == "price_asc" %}selected{% endif %}>-->
<!--                Сначала дешёвые-->
<!--            </option>-->
<!--            <option value="price_desc" {% if sort == "price_desc" %}selected{% endif %}>-->
<!--                Сначала дорогие-->
<!--            </option>-->
<!--        </select>-->

        <button class="btn primary">Найти</button>
    </form>

    <!-- список -->
    <div class="hotels-list">
        {% for hotel in hotels %}
        <a href="/pages/hotels-list/{{ hotel.id }}" class="hotel-link">
            <div class="hotel-card">

                <img src="{{ url_for('static', path='images/hotel.jpg') }}" alt="hotel">

                <div class="hotel-info">
                    <h3>{{ hotel.name }}</h3>
                    <p>{{ hotel.description or "Описание отсутствует" }}</p>

                    <div class="hotel-bottom">
                        <span class="price">от {{ hotel.min_price or hotel.price }} ₽</span>
                        <span class="details">Подробнее →</span>
                    </div>
                </div>

            </div>
        </a>

        {% endfor %}
    </div>

    <!-- пагинация -->
    <div class="pagination">
        {% for p in range(1, total_pages + 1) %}
            <a href="?page={{ p }}&search={{ search }}&country={{ selected_country }}">
                {{ p }}
            </a>
        {% endfor %}
    </div>

</div>

{% endblock %}


