{% extends "base.html" %}

{% block content %}

<section class="hero" style="background-image: url('{{ url_for('static', path='images/index-hotel-photo.jpg') }}')">

    <h1>Найди идеальный отель</h1>

    <form action="/pages/hotels-list" method="get" class="search-box">

        <input
            type="text"
            name="search"
            placeholder="Куда поедем?"
        >

        <select name="location">

            <option value="">Любая локация</option>

            {% for country, cities in countries.items() %}
                <optgroup label="{{ country }}">
                    {% for city in cities %}
                        <option value="{{ city }}">
                            {{ city }}
                        </option>
                    {% endfor %}
                </optgroup>
            {% endfor %}

        </select>

        <button class="btn primary">Найти</button>

    </form>

</section>
{% endblock %}